.gradle
/build/
/classes
*/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.shelf

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### App secrets ###
**/application-secrets.yml
**/application-secrets.properties

### Env specific bosh templates ###
**/sc1-**.yml

### GPG rings ###
local.*

**log4j2-test*
/lib/groovy*.jar

### Docker Setup ###
docker/minio_config
docker/s3data
docker/vaultstorage
