# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    machine:
      image: circleci/classic:latest

    working_directory: ~/repo

    environment:
      JAVA_TOOL_OPTIONS: -Xmx1024m

    steps:
    - checkout
    - run: sudo apt-get update && sudo apt-get install openjdk-8-jdk && sudo update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
    - run: sudo keytool -importkeystore -srckeystore broker/src/functional-test/resources/credhub_client.jks -srcstorepass changeit -destkeystore $(readlink -f /usr/bin/java | sed "s:bin/java::")/lib/security/cacerts -deststorepass changeit
    - run: 'if [[ -z "${CIRCLE_PULL_REQUEST}" ]]; then openssl aes-256-cbc -md md5 -pass pass:$ENCRYPTION_PASSWORD -in secring.gpg.enc -out local.secring.gpg -d; fi'
    - run: pushd docker && ./setup_docker.sh ; popd
    - run: ./gradlew clean build -x functionalTest
    - run: ./scripts/circleci-publish.sh

  release:
    docker:
    - image: circleci/buildpack-deps

    steps:
    - checkout
    - add_ssh_keys:
        fingerprints:
          - "13:ae:c4:7f:fb:c1:ea:41:9d:36:8f:07:9d:e6:0e:66"
    - run: ./scripts/bump_and_create_release.sh

workflows:
  version: 2
  build:
    jobs:
      - build

  build_and_release_nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only: develop
    jobs:
      - build
      - release:
          requires:
            - build
          filters:
            branches:
              only: develop
