<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <appender name="Console-light"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %green %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>


    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- LOG com.swisscom at DEBUG level -->
    <logger name="com.swisscom" level="trace" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

</configuration>